@import "tailwindcss";

:root {
  --background: #ffffff; /* Bilkul safaid clean look ke liye */
  --foreground: #1a1c1c;
  --primary: #16a34a;    /* Green-600 ka hex code */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  @apply antialiased;
}